.register__action-text {
    font-family: 'Euclid Circular B';
    font-style: normal;
    font-weight: 600;
    font-size: 2em;
    line-height: 38px;
    letter-spacing: -0.02em;
    color: #000000;
    text-align: center;

    /* Override Margins set by default by MUI */
    margin-block-start: 0;
    margin-block-end: 0;
}

.register__action-text--secondary {
    font-family: 'Euclid Circular B';
    font-style: normal;
    font-size: 1em;
    letter-spacing: -0.02em;
    color: #000000;
    text-align: center;

    /* Override Margins set by default by MUI */
    margin-block-start: 0;
    margin-block-end: 0;
}

/* this overrides the given styles for all child classes of this class recursively */
/* this was done to override the defaul MUI TextField outlined color when focused */
.register__text-input:focus-within * {
    border-color: #84CEC1 !important;
}

.register__form-button {
    /* button properties */
    padding: 10px 16px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 12px;

    /* font properties */
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 700;
    font-size: 1.1em;
    background: #5249ff;
    color: #FFFFFF;
    text-transform: capitalize;
}

.register__form-button:hover {
    background: #756eff;
    color: #FFFFFF;
}