/* new css values:  */

.landing-header {
    background: #84CEC1;
    padding: 8px; /* essentily same as sx={{ p: 1 }} */
}

.landing-header__logo {
    width: 130px;
}

.landing-header__logo--small {
    width: 115px;
}

.landing-header__menu {
    gap: 20px;
}

.landing-header__menu__item {
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 600;
    font-size: 1.1em;
    color: #FFFFFF;
    text-transform: capitalize;
    /* not needed for now */
    /* line-height: 1.8em; */
}


/* menu items hover over animation */

.landing-header__menu__item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #958FFF;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.landing-header__menu__item:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.landing-header__menu__item:hover {
    color: #FFFFFF;
    background-color: transparent;
}


.landing-header__action-buttons {
    gap: 10px;
}

/* action buttons styles */

.landing-header__action-buttons__item--primary {
    /* button properties */
    padding: 6px 16px;
    background: #958FFF;
    border-radius: 12px;

    /* font properties */
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 700;
    font-size: 1.1em;
    color: #FFFFFF;
    text-transform: capitalize;
}

.landing-header__action-buttons__item--secondary {
    /* button properties */
    padding: 6px 16px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 12px;

    /* font properties */
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 700;
    font-size: 1.1em;
    color: #FFFFFF;
    text-transform: capitalize;
}


/* action-buttons items hover over animations */

.landing-header__action-buttons__item--primary:hover {
    /* background: #a39eff; */
    background: #655dff;
    color: #FFFFFF;
}

.landing-header__action-buttons__item--secondary:hover {
    background: rgba(0, 0, 0, 0.05);
    color: #FFFFFF;
}


/* Sidebar (Drawer) used for menu on small screens styles */

.sidebar__logo {
    width: 120px;
    filter: invert(100%);
}

.sidebar__menu__item {
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    color: #000000;
    text-transform: capitalize;
}

.sidebar__action-buttons__item--secondary {
    background: rgba(0, 0, 0, 0.1);
    color: #000000;
}

.sidebar__action-buttons__item--secondary:hover {
    background: rgba(0, 0, 0, 0.2);
    color: #000000;
}


/* examples on how to write css: */
/* h1.error {} which would only apply to <h1 class="error"> */
/* #foo {} will style the single element declared with an attribute id="foo", just one element!
.foo {} will style all elements with an attribute class="foo" (you can have multiple classes assigned to an element too, just separate them with spaces, e.g. class="foo bar") */