.register-header {
    background: none;
    padding: 8px; /* essentily same as sx={{ p: 1 }} */
}

.register-header__logo {
    width: 130px;
    margin-right: 10px;
}

.register-header__action-elements {
    gap: 20px;
}

/* TODO, keep tweaking from here */
.register-header__action-elements__button--primary {
    /* button properties */
    padding: 1px 20px;
    background: #655dff;
    border-radius: 12px;
    margin-top: 7px;
    margin-bottom: 7px;

    /* font properties */
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 700;
    font-size: 1.1em;
    color: #FFFFFF;
    text-transform: capitalize;
}

.register-header__action-elements__button--primary:hover {
    background: #958FFF;
    color: #FFFFFF;
}

.register-header__action-text {
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 600;
    /* font-size: 1em; */
    color: #1116b1;
}